.title-container {
    border: solid 5px #898989;
    border-radius: 5px;
    width: 30vw;
    display: flex;
    justify-content: center;
    padding: 1%;
    box-shadow: 
        inset 0 0 3px #72665b,
        0 0 3px #72665b;
    background-color: var(--primary-color2);  
    margin: 0 auto;
    margin-top: 1.5rem;   
}


.player-list {
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    margin: 0 auto;
    width: 80%;
    min-height: 60vh;
    margin-top: 5%;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.list-header {
    display: flex;
    padding: 1rem 1.5rem 0 4rem;
    width: 60%;
    justify-content: space-between;
}

.player-rank {
    display: flex;
    width: 60%;
    padding: 1rem 1.8rem 1rem 2.3rem;
    border-radius: 2.5em;
    margin: 0.5rem;
    background-color: #224a5c;
    justify-content: space-between;   
}

.player-rank:hover {
    background-color: #799dad;
}

.trophy-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-networth, 
.player-name  {
    color: var(--font-color);
}

.player-name{
    padding-left: 1em;
}

