@import '../../global.css';

#area-login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media(min-width: 700px) {

    .background-fill {
        background: var(--primary-color);
        height: 100%;
        min-width: 400px;
    }
    
    #logo-menu {
        min-width: 400px;
        max-width: 40vw;
        animation: is-bouncing 2s ease infinite alternate;
    }
}

@media(max-width:699px) {

    #logo-menu {
        max-width: 300px;
        min-width: 300px;
        animation: is-upping-scale 1s ease-out infinite alternate;
    }

    #area-login {
        flex-direction: row;
        justify-content: center;
    }

    .background-fill {
        background: none;
        height: 100vh;
    }
    
}

@keyframes gradient {
    from/*INICIO ANIMAÇÃO*/
    {
        background-position: 0 50%;
    }
    to {
        background-position: 100% 50%;
    }
}

@keyframes is-bouncing {
    to {
        transform: translateY(30px);
    }
}

@keyframes is-upping-scale {
    to {
        transform: scale(1.1);
    }
}