.btn-group {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 20vh;
    justify-content: space-between;
}

.server-info-container {
    padding: 1rem 0;
}

.inner-content {
    margin: 1rem;
}

.input-field {
    width: 100%;
    padding-top: 5%;
}

.button-accept {
    margin: 1rem;
}

h1, h3, h4, p {
    color: var(--secondary-color);
}
