@import '../../global.css';

.answer-button {
    padding: 1rem;
    margin: 50px 2rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 100;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    width: 42%;
    min-width: 250px;
    box-shadow: 0 5px 0 #f9c60ea9;
}

.answer-button:hover {
    background-color:  #f9c60ea9;
    transition: all .3s ease;
}

.answer-button:active {
    transform: translateY(5px);
    transition: 50ms;
    box-shadow: none;
}

.clicked {
    background-color: green;
}

.answer-button:disabled {
    background-color: rgba(179, 72, 72, 0.575);
    box-shadow: 0 5px 0 rgba(128, 128, 128, 0.089);
}

.answer-button span#answer {
    font-family: 'Roboto';
    font-weight: 400;
    text-transform: none;
}
