@import '../../global.css';

nav#header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: var(--primary-color);
    align-items: center;
}

nav h3 {
    color: var(--font-color);
    display: block;
}

img#logo-header {
    top: 6px;
    left: 40px;
    position: absolute;
    max-width: 160px;
    width: 20%;
    min-width: 100px;
    animation: is-upping-scale 2s ease  infinite alternate;
    cursor: pointer;
}

#hamburguer-checkbox {
    display: none;
}

.menu {
    border-radius: 50%;
    width: 80px;
    height: 10vh;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0;
    transition: 0.5s ease;
}

.menu:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.hamburguer {
    display: block;
    background-color: var(--secondary-color);
    width: 45px;
    height: 4px;
    border-radius: 16px;
    position: relative;
    left: 15px;
    top: 40px;
    transition: 0.5s ease;
}

.hamburguer::after, .hamburguer::before{
    background-color: var(--secondary-color);
    border-radius: 16px;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease;
}

.hamburguer::before {
    top: -10px;
}

.hamburguer::after {
    bottom: -10px;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer::before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
}

@keyframes is-upping-scale {
    to {
        transform: scale(1.05);
    }
}
