@import url("../../global.css");

#profile-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#profile-area {
  justify-self: center;
  display: flex;
  width: 80%;
  max-width: 1400px;
  min-height: 500px;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--font-color);
  border: 3px solid var(--primary-color);
  margin: 2rem 4rem;
  border-radius: 8px;
  box-shadow: 0px 0px 26px -1px var(--primary-color);
}

#profile-area #profile-data {
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
}

#profile-area #profile-data #infos-profile-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#profile-area #photo-field {
  align-self: center;
  width: 350px;
  padding: 2rem 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem;
  margin-left: 4rem;
  border-radius: 91% 9% 70% 30% / 30% 70% 30% 70%;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 30px -1px var(--primary-color);
}

h2.h2-profile {
  color: var(--secondary-color);
  text-shadow: 1px 3px 0 #7a7a7a;
  font-size: 1.8rem;
  padding: 2rem 0;
}

#profile-area #photo-field h2 {
  align-self: center;
  text-align: center;
  padding: 1rem;
  color: var(--secondary-color);
  text-shadow: 4px 3px 0 rgb(87, 72, 30);
}

#profile-area #photo-field #photo-area {
  position: relative;
  display: flex;
  flex-direction: column;
}

#profile-area #photo-field #photo-area img#profile-photo {
  width: 200px;
  align-self: center;
  border: 4px solid var(--font-color);
  border-radius: 50%;
  box-shadow: 0px 0px 30px -13px var(--font-color)
}

#profile-area #photo-field #photo-area #edit-photo-button {
  width: 45px;
  padding: 0.4rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  border-bottom-left-radius: 0;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

#profile-area #profile-data #infos-profile-area #userdata-fields {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#profile-area h3 {
  color: var(--primary-color);
}

#profile-area #userdata-fields .profile-infos {
  font-family: "Roboto";
  color: black;
  font-weight: 400;
}

#user-basic-info #vitucoin-amount {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

#infos-profile-area #userdata-fields #userinfo-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#infos-profile-area #userdata-fields #user-basic-info #vitucoin-amount h2 {
  color: var(--secondary-color);
  padding-bottom: 0;
  font-size: 1.8rem;
}

#infos-profile-area
  #userdata-fields
  #user-basic-info
  #vitucoin-amount
  img#image-amount {
  position: absolute;
  width: 45px;
  animation: bitcoin-rotating 2.5s ease-in-out alternate infinite;
  bottom: 35px;
  left: -10px;
}

#infos-profile-area
  #userdata-fields
  #user-basic-info
  #vitucoin-amount
  span#player-money {
  font-size: 1.4rem;
  padding: 0.8rem 0 0.8rem 2.2rem;
  width: 100%;
  font-family: "Pixel-font";
  color: var(--primary-color);
}

#modal-change-avatar {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 600px;
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  padding: 2rem;
  margin: 2rem 4rem;
  border-radius: 8px;
  box-shadow: 0px 0px 26px -1px var(--font-color);
}

#modal-change-avatar h3 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 2rem;
  letter-spacing: 1.5px;
}

#modal-change-avatar .modal-fields {
  display: flex;
  flex-direction: column;
}

#modal-change-avatar .modal-fields .input-field {
  margin: 1rem;
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 2px;
  position: absolute;
  top: -30px;
  right: -15px;
  font-size: 3rem;
  border: 5px solid var(--secondary-color);
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 80px;
  height: 80px;
  cursor: pointer;
  text-align: center;
}


#profile-area h1 {
  font-size: 2.3rem;
  align-self: center;
  padding: 2rem;
  text-shadow: 1px 3px 0 #7a7a7a, 1px 13px 5px #aba8a8;
  border-radius: 50px;
  animation: letter-spacing 3s ease-in-out infinite alternate;
}

@keyframes letter-spacing {
  50% {
    letter-spacing: 8px;
  }

  100% {
    letter-spacing: 0;
  }
}

@keyframes bitcoin-rotating {
  from {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(50deg);
  }
}
